.idea
node_modules
credentials.json
creds.json


deck-optimmizer-serviceaccount-creds.json

src/index2.js

src/index3.js

src/index4.js

src/checkCropped.js

img.gif

src/parseGifsicleStdout.js

src/gifInfo.js
