body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff
}

.main {
    position: absolute;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #000;
    height: 100%
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 900;
    padding-top: 50px;

}

.title sup {
    font-size: 15px;
    color: blue;
    font-weight: 400;
}

.helpTxt {
    padding-top: 20px;
}

.form {
    padding-top: 20px;
}

#messages {
    list-style-type: none;
    font-size: 10px;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: none;
}

#messages a {
    color: #fff;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #191919;
}

.footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 8px;
    text-align: right;
}

#optimizeChoice,
#optimizePanel,
#displayCompFactor,
#displayColourRange,
#displayFrameRate{
    display: none;
}

#optimizePanel ul {
    display: flex;
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
}

#optimizePanel ul li {
    width: 30%;
}

#optimizePanel ul:nth-child(odd) {
    background: #191919;
}

#optimizePanel ul li:nth-child(2){
    width: 40%;
}

li>img{
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

#optionsContainer {
    display: none;
}

#processOptions{
    display: none;
}